*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6e84b8;
}

.main{
    background-color: rgb(2, 34, 98);
    border: 1px solid black;
    width: 340px;
    padding: 10px;
    padding-top: 20px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}


.main input{
    outline: none;
    border: none;
    width: 100%;
    height: 60px;
    font-weight: bold;
    padding-left: 5px;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 10px;
}


.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.main button{
    height: 50px;
    width: 70px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin: 3px;
    outline: none;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover{
    background-color: rgb(175, 198, 236);
    color: rgb(22, 22, 22);
}

.color{
    background-color: rgb(94, 130, 192);
    color: white;
}

.color:hover{
    background-color: rgb(16, 45, 125);
    color: rgb(255, 255, 255);
}


@media (max-width: 400px){
    .main{
        width: 90%;
        height: auto;
    }

    .main button{
        width: 60px;
        height: 45px;
        font-size: 18px;
    }
}
